#imager-viewer {
  #imager-canvas-wrapper {
    #imager-canvas {
      vertical-align: bottom;
      background: #2d2d49;
    }

    #imager-canvas2 {
      position: absolute;
      vertical-align: bottom;
      background: darkmagenta;
      display: none;
    }
  }
}
